<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveltino</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/gumbe.css">
    <link rel="stylesheet" href="static/logo.css">

</head>
<body>
    
    <div class="ozadje"></div>

    <h1><button class="gumb5">TRAVELTINO</button></h1>

    <button class="gumb4">TRAVELTINO</button>


    <a href="{{ url_for('domov') }}" class="gumb3">Domov</a>
    <a href="{{ url_for('destinacije') }}" class="gumb2">Destinacije</a>
    <a href="{{ url_for('kontakt') }}" class="gumb1">Kontakt</a>
    <a href="{{ url_for('registracija') }}" class="gumbregistracija">Registracija</a>
    <a href="{{ url_for('prijava') }}" class="gumbprijava">Prijava</a>

    <form class="gumbiskanjedestinacij" action="/iskanjedestinacij" method="GET">
        <label for="destination">Vnesite destinacijo:</label>
        <input type="text" id="destination" name="q" placeholder="Destinacija..." required>
        <button type="submit">Iskanje</button>
    </form>

    <div class="logo">
        <img src="static/Traveltino_logo.svg" alt="Logo">
      </div>


</body>
</html>
