<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervacij</title>
    <link rel="stylesheet" href="static/nadzorna_plosca_rezervacij.css">
    <link rel="stylesheet" href="static/anketa.css">
</head>
<body>

    <div class="ozadje"></div>


    <div class="okvir">

        <h1 class="centered-box">Pozdravljen/a, {{ session['ime'] }}!</h1>
        <h2 class="centered-box">Uspešno ste naredili rezervacijo za vaše potovanje.</h2>
    </div>

    <a href="{{ url_for('destinacije') }}" class="gumbdrugedestinacije">Druge destinacije</a>

    <form action="{{ url_for('odjavarezervacij') }}" method="get">
        <button type="submit" class="odjava_gumb">Odjava</button>
    </form>

    <a href="{{ url_for('anketa') }}" class="gumbanketa">Anketa</a>
    
</body>
</html>