<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="static/kontakt.css">
    <link rel="stylesheet" href="static/kontakt_gumbe.css">

</head>
<body>


    <h1>Kontakt</h1>

    <div class="ozadje"></div>

    <a href="{{ url_for('domov') }}" class="gumb3">Domov</a>
    <a href="{{ url_for('destinacije') }}" class="gumb2">Destinacije</a>
    <a href="{{ url_for('kontakt') }}" class="gumb1">Kontakt</a>
    <a href="{{ url_for('prijava') }}" class="gumbprijava">Prijava</a>


    
</body>
</html>