<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregled zaposlenih</title>
    <link rel="stylesheet" href="static/narejen_uporabniski_racun.css">

</head>
<body>

    <h1>Seznam uporabnikov</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Email</th>
                <th>Geslo</th>
            </tr>
        </thead>
        <tbody>
            {% for uporabnik in uporabniki %}
            <tr>
                <td>{{ uporabnik['id'] }}</td>
                <td>{{ uporabnik['ime'] }}</td>
                <td>{{ uporabnik['email'] }}</td>
                <td>{{ uporabnik['geslo'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="ozadje"></div>


</body>
</html>
